h1 {
	color:pink;
	font-size: 50px;
	}
h2 {
	color:DarkTurquoise
}

#hulahula {color: black;}
.black {
	font-style: italic;}
 
.heyhou {color:pink; }
.haha {font-weight: bold; color: darkgray}
th.haha { font-size: 30px;}
html {text-align: center;
		weight: 800px;}
#nene {text-align: left;}
.ramecek {border:dashed;}
.zvyrazneny { color:red;
			font-weight: bold;}
.velikost {font-size: 50px;}